{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block navbar %}{% endblock %}
{% block footer %}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('login') }}
{% endblock %}

{% block body %}
<div id="huro-app" class="app-wrapper">

    <!--Full pageloader-->
    <div class="pageloader is-full"></div>
    <div class="infraloader is-full is-active"></div>

    <div class="auth-wrapper">
        <!--Page body-->
        <div class="auth-wrapper-inner is-single">
            <!--Fake navigation-->
            <div class="auth-nav">
                <div class="left"></div>
                <div class="center">
                    <a href="{{ path('homepage') }}" class="header-item">
{#                        <img class="light-image" src="{{ asset('/icons/logo-2.svg') }}" alt="Icon tennis teammates">#}
{#                        <img class="dark-image" src="{{ asset('/icons/logo-2.svg') }}" alt="Icon tennis teammates">#}
                        <div class="light-image">
                            {{ source('@public_path'~asset('/icons/logo-2.svg')) }}
                        </div>
                    </a>
                </div>
                <div class="right">
                    <label class="dark-mode ml-auto">
                        <input type="checkbox" checked>
                        <span></span>
                    </label>
                </div>
            </div>

            <!--Single Centered Form-->
            <div class="single-form-wrap">

                <div class="inner-wrap">
                    <!--Form Title-->
                    <div class="auth-head">
                        <h2>Connexion</h2>
{#                        <p>Veuillez vous connecter</p>#}
                        <p>
                            Vous n'avez pas de compte ?
                            <a href="{{ path('app_register') }}">Créer un compte </a>
                        </p>
                    </div>

                    <!--Form-->
                    <div class="form-card">
                        <form action="{{ path('app_login') }}" method="post" id="login-form">
                            <div id="signin-form" class="login-form">
                                <!-- Errors -->
                                {% if error %}
                                    <div class="field">
                                        <div class="message is-danger">
                                            <button class="delete" onclick="this.remove()"></button>
                                            <div class="message-body">
                                                {{ error.messageKey|trans(error.messageData, 'security') }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                <!-- Input email -->
                                <div class="field">
                                    <div class="control has-icon">
                                        <label for="login_form_email"></label>
                                        <input type="email" id="login_form_email" name="_username" required="required" class="input" placeholder="Email" value="{{ last_username }}">
                                        <span class="form-icon">
                                            <i data-feather="user"></i>
                                        </span>
                                    </div>
                                </div>
                                <!-- Input password -->
                                <div class="field">
                                    <div class="control has-icon">
                                        <label for="login_form_password"></label>
                                        <input name="_password" placeholder="Mot de passe" type="password" id="login_form_password" required="required" class="input">
                                        <span class="form-icon">
                                            <i data-feather="lock"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="setting-item">
                                    <label class="form-switch is-primary">
                                        <input name="_remember_me" type="checkbox" class="is-switch" id="busy-mode-toggle">
                                        <i></i>
                                    </label>
                                    <div class="setting-meta">
                                        <span>Rester connecté</span>
                                    </div>
                                </div>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                <!-- Submit -->
                                <div class="control login">
                                    <button id="login-submit" class="button h-button is-primary is-bold is-fullwidth is-raised">Connexion</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="forgot-link has-text-centered">
                        <a href="#">Mot de passe oublié ?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}